body {
  background-color: #00695c;
}

/* .heroimage {
  height: 40vh;
} */
.image {
  background: url("../images/billyhero.jpg");
  background-size: cover;
  background-position: center;
  height: 55vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text {
  padding-top: 15vh;
  padding-left: 15vh;
}
.newsheader {
  padding-left: 15vh;
}
.toptext {
  padding: 2vh;
}
.twocolumnflip {
  display: flex;
  flex-direction: row;
}

.container {
  display: grid;
  width: 100%;
}
.tourinfo {
  display: flex;
  padding: 4vh;

  justify-content: center;
}
.tourlocation {
  color: #ffff;
  margin-top: -8vh;
  margin-right: -1vh;
  padding: 5vh;
  align-items: CENTER;
  border-right: solid white 1px;
  border-bottom: solid white 2px;
  font-size: 17pt;
  text-align: center;
  margin-right: 1vh;
  width: 30vh;
}
.tourdate {
  margin-left: -1vh;
  padding: 5vh;
  margin-top: -8vh;
  color: #ffff;
  align-items: CENTER;
  border-left: solid white 1px;
  border-bottom: solid white 2px;
  font-size: 17pt;
  text-align: center;
  margin-right: 1vh;
  width: 30vh;
}
.discography {
  display: flex;
  padding-left: 15vh;

  justify-content: space-between;
}
.album {
  width: 100%;

  padding-right: 1vh;
  padding-left: 1vh;
  padding-top: 2vh;
}
.musicvids {
  display: flex;
  align-items: flex-end;
}
.video {
  aspect-ratio: 16/9;
  width: 100%;
  padding-right: 1vh;
  padding-left: 1vh;
  padding-top: 2vh;
}
h5 {
  padding-left: 1vh !important;
}
.features {
  width: 100%;
  display: flex;
  margin-bottom: 15vh;
  justify-content: space-around;
  margin-right: 20vh;
  padding-top: 3vh;
}
.featurediv {
  color: #ffff;

  font-size: 17pt;
  text-align: center;
  margin-right: 1vh;
}
.featureparagraph {
  color: #ffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15pt;
  text-align: center;
}
.featureimage {
  height: 40vh;
}
.featuredtitle {
  margin: 2vh;

  font-family: Starjedi;
  font-size: 17pt;
  display: flex;
  justify-content: space-around;
}

.features a:link {
  color: #ffff;

  font-size: 17pt;
  text-decoration: none;
}
.features a:visited {
  color: #ffff;
  font-size: 17pt;
  text-decoration: none;
}
.features a:hover {
  color: #ffff;

  font-size: 17pt;
  text-decoration: underline;
}

hr.solid {
  border-top: 3px solid white;
  width: 150vh;
  margin-top: -10vh;
}
.socialmedia h3 {
  color: white !important;
  display: flex;
  justify-content: center;
}
.socials {
  width: 10vh;
  justify-content: center;
  padding: 2vh;
}
.testing {
  display: flex;
  justify-content: center;
}
.page-footer {
  bottom: 0;
  width: 100%;
  padding-left: 2vh;
}
.socialfooter {
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.abouttext {
  color: #ffff;

  justify-content: center;
  font-size: 12pt;
  text-align: justify;
}
.aboutinfo .footer {
  display: flex;
  margin-top: 3px !important;
}

@media screen and (max-width: 600px) {
  .image {
    background: url("./images/billyhero.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .tourinfo {
    display: flex;
    padding-left: 11vh;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .tourlocation {
    border-bottom: solid white 2px;
    border-right: 0px;
    font-size: 17pt;
    text-align: center;

    width: 30vh;
  }
  .tourdate {
    border-bottom: 0px;
    font-size: 17pt;
    border-left: 0px;
    text-align: center;
    padding-left: 9vh;
    width: 30vh;
  }
  .musicvids {
    display: flex;
    flex-direction: column;
  }
  .discography {
    display: flex;
    flex-direction: column;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .album > img {
    width: 100%;
  }
  .image {
    background: url("../images/billyhero.jpg");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding-top: -50vh;
  }
  .featurediv {
    color: #ffff;
    font-size: 17pt;
    text-align: center;
    margin-left: 4.5vh;
    margin-bottom: 5vh;
  }

  .hero-text {
    justify-content: center;
    padding-left: 3vh;
    font-size: 12px;
  }
  .hero-text {
    padding-top: 3vh;
    padding-left: 4vh;
  }
  .hero-text h1 {
    font-size: 18px;
  }
  .waves-effect {
    padding-top: 0vh;
    padding-left: 3vh;
  }
  hr.solid {
    margin-top: -15vh;
    border-top: 3px solid white;
    width: 25vh;
  }
  .socialmedia h3 {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 25px;
  }
  .abouttext {
    width: 87%;
    margin-left: 3vh;
    margin-right: 3vh;
  }
  .page-footer {
    padding-left: 0vh;
  }
  .feettext {
    padding-left: 2vh;
  }
}
